@import url("fonts.css");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none !important;
}
:root {
    --primary-color:#7177F1;
    --secondary-color:#FFFFFF;
    --black: #323232;
    --MB: "Montserrat-Black";
    --MBo: "Montserrat-BoldItalic";
    --MR: "Montserrat-Regular";
    --MSeBo: "Montserrat-SemiBold";
}
body {
    background: var("--secondary-color");
}
/* HEADER START */
.header {
    position: relative;
}
.header__logo::before {
    content: url("../images/MYWORK.png");
}
.header__link {
    display: flex;
    text-transform: capitalize;
    color: var(--primary-color);
    font-size: 24px;
    line-height: 16px;
    font-family: var(--MR);
    margin-right: 30px;
}
.header__button {
    display: flex;
    font-size: 24px;
    line-height: 16px;
    text-transform: capitalize;
    color: var(--secondary-color);
    background: var(--primary-color);
    width: 190px;
    padding: 10px 0;
    justify-content: center;
    font-family: var(--MR);
    box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
    border-radius: 8px;
    margin-right: 58px;
}
.header__link:hover {
    color: var(--primary-color);
}
.header__button:hover {
    color: var(--secondary-color);
}
.header__phone::before  {
    content: "\f87b";
}
.header__phone {
    color: var(--primary-color);
    font-size: 25px;
    font-weight: 300;
}
.header__content_items {
    margin-top: 30px;
}
.header__content_text {
    font-size: 24px;
    line-height: 22px;
    text-transform: capitalize;
    color: var(--black);
    font-family: var(--MSeBo);
    margin-bottom: 10px;
}
.header__content_title {
    font-size: 40px;
    line-height: 50px;
    font-family: var(--MSeBo);
    text-transform: capitalize;
    color: var(--primary-color);
    margin-bottom: 25px;
    max-width: 520px;
    width: 100%;
}
.header__toggler::before {
    content: "\f0c9";
}
.header__toggler {
    font-size: 30px;
}
.navbar-toggler:focus {
    box-shadow: none;
}
.header__content_link {
    display: flex;
    justify-content: center;
    font-size: 18px;
    line-height: 20px;
    font-family: var(--MR);
    color: var(--secondary-color);
    background: var(--primary-color);
    text-transform: uppercase;
    width: 299px;
    box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
    border-radius: 8px;
    padding: 12px 0;
    margin: 0 auto; 
}
.header__content_skills {
    margin-top: 50px;
}
.header__skills_title {
    color: var(--primary-color);
    text-align: center;
    font-size: 20px;
    line-height: 24px;  
    text-transform: uppercase;
    font-family: var(--MB);
    margin-top: 15px;
}
.carousel-indicators [data-bs-target] {
    background: #828282;
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 50%;
}
.carousel-indicators [data-bs-target].active {
    background: var(--primary-color);
}
.rectangle {
    position: absolute;
    border-width: 5px;
    border-style: solid;
    z-index: -1;
}
.rectangle_1 {
    border-color: #790FF1;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    top: 32px;
    left: 243px;
}
.rectangle_2 {
    border-color: #9297EF;
    width: 80px;
    height: 80px;
    top: 92px;
    left: 35px;
    transform: matrix(0.71, 0.71, -0.7, 0.71, 0, 0);
}
.rectangle_3 {
    border-color: #9297EF;
    transform: matrix(1, 0, 0, -1, 0, 0);
    width: 100px;
    height: 100px;
    top: 82px;
    right: 160px;
}
.rectangle_4 {
    border-color: #9297EF;
    width: 80px;
    height: 80px;
    transform: matrix(0.76, -0.66, 0.64, 0.76, 0, 0);
    bottom: 120px;
    right: 260px;
}
/* HEADER END */


/* MAIN START */
.main__about {
    margin-top: 70px;
    position: relative;
}
.main__about_text {
    color: var(--black);
    background: var(--secondary-color);
    box-shadow: 0px 0px 20px rgba(113, 119, 241, 0.5);
    border-radius: 8px;
    font-size: 18px;
    line-height: 100%;
    text-transform: uppercase;
    font-family: var(--MR);
    padding: 24px 0;  
    width: 190px;
    text-align: center; 
    top: 24px;
    left: -50px;  
}
.main__about_span {
    position: absolute;
    right: -15px;
    top: -15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #0FDAC2;
    font-size: 18px;
    line-height: 100%;
    color: var(--secondary-color);
    text-transform: uppercase;
    padding: 11px;
    text-align: center;
    font-family: var(--MBo);
}
.main__about_content  {
    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
    border-radius: 8px;
    background: var(--secondary-color);
    padding: 30px 30px;
}
.main__about_title {
    font-size: 40px;
    line-height: 30px;  
    color: #7177F1;
    text-transform: capitalize;
    font-family: var(--MSeBo);
    margin-bottom: 25px;
}
.main__about_description {
    font-size: 18px;
    line-height: 150%;
    font-family: var(--MR);
    color: var(--black);
    text-transform: capitalize;
}
.main__about_btn {
    padding: 14px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 100%;
    font-family: var(--MR);
    box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
    border-radius: 8px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: flex;
    width: 190px;
    justify-content: center;
    margin-left: 75px;
}
.main__about_btn:hover {
    color: var(--secondary-color);
}
.shake {
    position: absolute;
    z-index: -1;
}
.shake_1 {
    right: 0;
    top: -400px;
}
.rectangle_5 {
    border-color: #9297EF;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    right: 110px;
    bottom: -85px;
}
.capabilities {
    position: relative;
    margin-top: 75px;
}
.capabilities__title {
    color: var(--primary-color);
    text-transform: capitalize;
    line-height: 49px;
    font-size: 40px;
    text-align: center;
    font-family: var(--MSeBo);
    margin-bottom: 30px;
}
.accordion {
    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
    border-radius: 8px 8px 8px 8px;
    margin-top: 70px;
}
.accordion__logo {
    width: 30px;
    margin-right: 20px;
}
.accordion__info {
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    font-family: var(--MB);
}
.accordion-button::after {
    display: none;
}
.accordion__arrow::before {
    content: "\f0de";
    font-weight: 900;
    font-size: 30px;
    transition: 1s;
}
.accordion__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.accordion-button {
    box-shadow: none !important;
    outline: none;
    border: none;
    background-color: var(--primary-color) !important;
    color: var(--secondary-color) !important;
}
.accordion-button.collapsed {
    background-color: var(--secondary-color) !important;
    color: var(--primary-color) !important;
}
.accordion-body {
    background-color: var(--primary-color);
    line-height: 150%;
    font-size: 18px;
    font-family: var(--MR);
    color: var(--secondary-color);
}
.accordion-button .accordion__arrow {
    transform: rotate(0deg);
}
.accordion-button.collapsed .accordion__arrow {
    transform: rotate(180deg)
}
.rectangle_6 {
    border-color: #9297EF;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    left: 343px;
    top: 100px;
}
.main__works {
    margin-top: 81px;
    position: relative;
}
.main__works_title {
    color: var(--primary-color);
    text-align: center;
    text-transform: capitalize;
    font-size: 40px;
    line-height: 49px;
    font-family: var(--MSeBo);
    margin-bottom: 30px;
}
.main__works_link {
    display: flex;
    width: 100%;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-transform: uppercase;
    line-height: 22px;
    font-size: 18px;
    font-family: var(--MSeBo);
    padding: 19px 0 19px 20px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.35);
}
.main__works_item:first-child .main__works_link {
    border-radius: 8px 8px 0 0;
}
.main__works_item:last-child .main__works_link {
    border: 0 0 8px 8px;
}
.main__works_link:hover {
    color: var(--primary-color);
}
.main__works_link.active {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
.main__works_img {
    width: 100%;
    max-height: 320px;
    height: 100%;
}
.main__works_content {
    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
    border-radius: 8px;
    background-color: var(--secondary-color);
    min-height: 360px;
    padding: 20px 30px 20px 20px;
}
.main__works_name {
    color: var(--primary-color);
    text-transform: capitalize;
    font-size: 24px;
    line-height: 29px;
    font-family: var(--MSeBo);
    margin-bottom: 25px;
}
.main__works_description {
    color: var(--black);
    font-size: 18px;
    line-height: 150%;
    text-transform: capitalize;
    font-family: var(--MR);
}
.main__works_btn {
    display: flex;
    width: 190px;
    box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
    border-radius: 8px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-transform: capitalize;
    font-size: 18px;
    line-height: 22px;
    font-family: var(--MSeBo);
    justify-content: center;
    padding: 12px 0;
    margin-left: 30px;
}
.main__works_btn:hover {
    color: var(--secondary-color);
}
.shake_2 {
    left: 0;
    top: -210px;
}
.rectangle_7 {
    border-color: #7177F1;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    bottom: 75px;
    left: 100px;
    z-index: -2;
}
.rectangle_8 {
    border-color: #790FF1;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    left: 55%;
    bottom: -100px;
}
.rectangle_9 {
    border-color: #7177F1;
    width: 100px;
    height: 100px;
    right: 90px;
    transform: matrix(0.76, 0.65, 0.65, -0.76, 0, 0);
    bottom: 90px;
}
/* MAIN END */
/* FOOTER START */
.footer {
    margin-top: 220px;
    padding-bottom: 133px;
}
.footer__link, .footer__contact {
    display: inline-block;
    color: var(--primary-color);
    font-size: 24px;
    line-height: 29px;
    font-family: var(--MR);
    text-transform: capitalize;
}
.footer__link:hover, .footer__contact:hover {
    color: var(--primary-color);
}
.footer__list li:last-of-type .footer__link {
    text-decoration: underline !important;
}
.footer__logo {
    display: block;
    margin: 0 auto;
}
.rectangle_10 {
    border-color: #790FF1;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    left: 125px;
}
/* FOOTER END */